*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(245, 190, 220);
    border-color: #222222;
    display: flex;
    flex-direction: column;
}

.wrapper{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,30%);
    width: 450px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.8);
}

.wrapper .left{
    width:40%;
    background-color: rgb(245, 190, 220);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.wrapper .left img{
    margin-bottom: 10px;
    border-radius: 5px;
    width: 110px;
    height: auto;
}

.wrapper .left h4{
    margin-bottom: 10px;
}

.wrapper .left p{
    font-size: 12px;
}

.wrapper .left a{
    background-color: rgb(245, 190, 220);
    display: block;
    font-size: 18px;
    background: #fff;
    padding: 5px;
    text-decoration: none;
    margin-top: 30px;
    font-size: 13px;
    letter-spacing: 2px;
}

.wrapper .right a{
    position: relative;
    color: rgb(245, 190, 220);
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
    margin-left: 30px;
    font-size: 13px;
    letter-spacing: 2px;
    left: 65%;
    bottom: -30%;
}

.wrapper .right{
    width: 70%;
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 25px;
}

.wrapper .right .info,
.wrapper .right .projects{
    margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
    display: flex;
    justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
    width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
    font-size: 13px;
    /* margin-bottom: 10px; */
    color: #919aa3;
}

input[type="file"]{
    display: none;
}

.custom-file-upload{
    color:rosybrown;
    display: block;
    font-size: 18px;
    background: #fff;
    padding: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 13px;
    letter-spacing: 2px;
    cursor: pointer;
}

.wrapper .form_field{
    position: relative;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 13px;
    color: #353c4e;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.wrapper .form_field::placeholder{
    color: transparent;
    display: none;
}

.wrapper .form_field:placeholder-shown ~ .form_label{
    cursor:text;
    top: -30px;
}

.wrapper .left .for-left
{
    text-align: left !important;
}

.form_label{
    position: relative;
    top: 0px;
    display: block;
    transition: 0.2s;
    color: #9b9b9b;
}

.form_field:focus{
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, rosybrown ,#38ef7d);
    border-image-slice: 1;
    transition: 0.2s;
}

.form_field:focus~.form_label{
    position: relative;
    top: -40px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: rosybrown;;
    font-weight: 700;
}

.form_field:required,
.form_field:invalid{
        box-shadow: none;  
}

@media screen and (max-width:480px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        flex-flow: column-reverse;
    }

    .wrapper .left{
        width: 100%;
    }

    .wrapper .right{
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        padding-left: 60px;
        padding-right: 60px;
        flex-flow: column-reverse;
    }

    .wrapper .left{
        width: 100%;
    }

    .wrapper .right{
        width: 100%;
    }
}